body {
    background-color: #1c2331;

}
#today {
    /* background-color: #87CEEB; */
    background-color: #5bc1e9;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #5bc1e9 23px ), repeating-linear-gradient( #87CEEB55, #87CEEB );
}


#forecast {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "one two three four five";
}

#forecastOne {
    position: relative;
    grid-area: "one";
}

.navbar-brand {
    font-size: 25;
}

#mainDescription, #secondaryDescription, #currentDateTime {
    font-size: 18px;
}

#locationName {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px !important;
}

#lastUpdatedInfo {
    font-size: 12px;
    margin-bottom: 0px;
}

#historyWeatherImage {
    width: 65px;
    margin-bottom: 10px;
}

#mainWeatherImage {
    width: 90px;
    margin-bottom: 20px;
}


#temperature {
    font-size: 70px;
    font-weight: 500;
    
}

#temperatureUnit {
    font-size: 20px;
}